.footer{
    height: 100px;
    /* padding: 10px; */
    text-align: right;
    align-content:flex-end;
    background: #191A1A;
    border:blue;
    /* border-width: 10px; */
    /* border-style: solid; */
    border-color: blanchedalmond;
    color: white;
    font-size: 12px;
}

.colorsContainer, p {
    width: fit-content; 
    height: fit-content;
    display: inline-block;
    
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    /* padding: 5px; */
    top: 50%;
}

.colorSquare{
    height: 35px;
    width: 35px;
    /* background:brown; */
    display: inline-block;
    margin-right: 5px;
}